<main role="main" class="inner cover">
  <div class="about-me">
    <div class="card">
      <h1 id="about-me-heading">About Me</h1>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag "https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/29261457_1883332995010884_7415995664893964558_n.jpg?_nc_cat=0&oh=8acfa3605560a5490735d17d3e2a905b&oe=5B900F2D", width: 300, alt: "Profile image" %>
        </div>

        <div class="col-md-8">
          
          <p>Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb Find me in app/views/pages/about.html.erb</p>
        </div>
      </div>
    </div>
  </div>
</main>


