<div class="contact-container">
  <h1>Would you like to work together?</h1> 
  <br>
  <h3>Phone</h3>
  <p><a id='email' href="tel:435-243-4634">435-243-4634</a></p>
  <h3>Email</h3>
  <p class="email-me"><a href="mailto:contact@aaronjharrison.com?PortfolioContact" "email me" id="email">Email me</a></p>
</div>