<div class="contact-container">
  <h1>Would you like to work together?</h1> 
  <br>
  <h3>Phone</h3>
  <p><%= number_to_phone "4352434634" %></p>
  <h3>Email</h3>
  <p class="email-me"><a href="mailto:contact@aaronjharrison.com?PortfolioContact" "email me">Email me</a></p>
</div>