<main role="main" class="inner cover">
  <h1 class="cover-heading">Student. Dreamer. Achiever.</h1>
  <p class="lead">Along with a dream comes a desire and passion to learn the ins and outs of the technology that makes the world go round.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

