<main role="main" class="inner cover">
  <div style="margin-bottom: 40px;">
    <h1 class="cover-heading">Hello, I'm <span style="color:#bdbbba;">Aaron Harrison</span>.</h1>
    <h1 class="cover-heading">I'm a full-stack web developer.</h1>
  </div>

  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    <a class="btn btn-lg btn-secondary" target="_blank" href="https://drive.google.com/file/d/1eTBCvfPz2ozNgLJgVgBB9M_ULiLEAScq/view?usp=sharing">My Resume</a>
  </p>
</main>

